/* src/app/globals.css */

/* Your existing CSS variables */
:root {
  --primary-color: #0277bd;
  --primary-color-light: #d7edf5;
  --font-primary-color: #01579b;
  --font-primary-color-light: rgba(1, 87, 155, 0.6);
  --font-primary-color-lightest: rgba(1, 87, 155, 0.2);
  --font-color-button: #ffb74d;

  /* Spacing */
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 45px;

  /* Border Radius */
  --border-radius: 8px;
  --border-radius-lg: 24px;

  /* Shadows */
  --shadow-md: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}
